body {
    background-color: black;
}

.shell {
    max-width: 2000px;
    padding: 0 20px;
    margin: auto;
}

header {
    padding: 20px 0;

    img {
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .header__inner {
        display: grid;
        grid-template-columns: 3fr 1fr;

        .header__left {
            position: relative;
            display: flex;
            justify-content: start;
        }
        .header__right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            
            a {
                text-decoration: none;
                color: white;
                font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: 600;
                font-size: 14pt;
                padding: 10px;
                margin: 3px 0;
                border: 1px solid white;
                border-radius: 50%;
                transition: background-color 0.25s, color 0.25s;

                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    transition: filter 0.25s, transform 0.25s;
                }
            }
            a:hover {
                background-color: white;
                color: black;
                
                img {
                    filter: brightness(0);
                    transform: rotate(-35deg);
                }
            }
        }
    }

    #logo {
        max-height: 150px;
        width: auto;
    }
}

.slogan-section {
    opacity: 100%;
    padding: 30px 0px;
    display: flex;
    justify-content: center;

    img {
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .section__inner {
        background-image: url(assets/banner.png);
        background-size: 100%;
        background-position: center;
        transition: background-size 2s;
    }
    .section__inner:hover {
        background-size: 110%;
    }
}

.business-section, .events-section, .documentary-section, .sports-section {
    padding: 30px 0px;

    .section__inner {
        display: flex;
        column-gap: 30px;
        justify-content: center;
        align-items: flex-start;
    }

    video {
        max-width: 45vw;
    }

    .section-text {
        max-width: 45vw;
        //min-height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        h1 {
            color: white;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-weight: 100;
        }

        p {
            max-width: 534px;
            color: white;
            font-size: 14pt;
            font-family:Arial, Helvetica, sans-serif;
            font-weight: 100;
            text-align: justify;
            line-height: normal;
        }
    }
}

.events-section .section__inner, .documentary-section .section__inner {
    flex-direction: row-reverse;
}
.documentary-section {
    margin-bottom: 30px;
}

.partners-section {
    background-color: white;
    padding: 30px 0;
    
    .section__inner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        .partner-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            max-width: 12vw;
            height: auto;
            filter: grayscale(1);
            transition: filter 0.25s;
        }
        img:hover {
            filter: grayscale(0);
        }
    }
}

.portfolio-section {
    padding: 30px 0px;

    .shell {
        max-width: 2000px;
        padding: 0 20px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            color: white;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-weight: 100;
            margin-bottom: 20px;
        }
    }

    .section__inner {
        max-width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 8px;
    }

    button {
        position: relative;
        cursor: pointer;
        border: none;
        padding: 0;
        background-color: black;

        .thumbnail {
            filter: brightness(1);
            transition: filter 0.2s ease-in-out;
        }
        .play-button {
            position: absolute;
            align-self: center;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            max-width: 20%;
            height: auto;
            filter: opacity(0);
            transition: filter 0.2s ease-in-out;
        }
    }
    button:hover {
        .thumbnail {
            filter: brightness(0.6);
        }

        .play-button {
            filter: opacity(1);
        }
    }
}

.portfolio-container {
    position: fixed;
    z-index: 100;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 3840px;
    max-width: 80%;

    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18pt;
    font-weight: 100;
    text-align: justify;
    color: white;

    opacity: 0;
    pointer-events: none;

    span {
        text-transform: capitalize;
        font-size: 20pt;
    }

    .button-close {
        padding: 0;
        position: absolute;
        right: -3.5%;
        top: 0;
        transform: translate(-50%, -50%);
        background: none;
        border: none;
        font-size: 30pt;
        font-weight: bold;
        color: white;
        cursor: pointer;
        transition: filter 0.15s;
    }
    .button-close:hover {
        filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 1));
    }
}
.portfolio-container.active {
    opacity: 1;
    pointer-events: all;
}

footer {
    padding: 40px 0;
    .shell {
        max-width: 85vw;
    }
    .footer__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .copyright {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: smaller;
        font-family:'Courier New', Courier, monospace;
        font-weight: bolder;
    }

    .contacts_section {
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        a {
            color: gainsboro;
            font-size: smaller;
        }
    }

    .socials-section {
        .section__inner {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            gap: 15px;
        }

        img {
            max-height: 4.5vh;
            filter: grayscale(1);
            transition: filter 0.2s;
        }
        img:hover {
            filter: grayscale(0);
        }
    }
}

#overlay {
    position: fixed;
    z-index: 99;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    transition: 200ms ease-in-out;
    opacity: 0;
    pointer-events: none;
}
#overlay.active {
    backdrop-filter: blur(10px);
    opacity: 1;
    pointer-events: all;
}

@media (orientation: portrait) {
    .business-section, .events-section, .documentary-section, .sports-section {
        padding: 0px 0px;

        .section__inner {
            display: flex;
            flex-direction: column-reverse;
            column-gap: 30px;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        video {
            width: 95%;
            max-width: 95%;
            height: auto;
        }

        .section-text {
            width: 95%;
            max-width: 95%;
            justify-content: center;
            align-items: center;
            min-height: 0px;
            padding: 20px 0px 10px 0px;

            p {
                max-width: 95%;
                font-size: xx-small;
            }
        }
    }

    .partners-section {
        .section__inner {
            img {
                max-width: 12vw;
                height: auto;
            }
        }
    }

    .portfolio-section {
        .section__inner {
            max-width: 95%;
            grid-template-columns: 1fr;
        }
    }

    footer {
        .shell {
            max-width: 100%;
        }

        .contacts_section {
            font-size: smaller;
            a {
                font-size: x-small;
            }
        }
    
        .socials-section {
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
}